-server
-Xmx16G
-XX:+UseContainerSupport
-XX:-UseBiasedLocking
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+ExplicitGCInvokesConcurrent
-XX:+ExitOnOutOfMemoryError
-XX:ErrorFile=/data/trino/logs/java_error%p.log
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/data/trino/logs/heap_dump.bin
-XX:-OmitStackTraceInFastThrow
-XX:ReservedCodeCacheSize=512M
-XX:PerMethodRecompilationCutoff=10000
-XX:PerBytecodeRecompilationCutoff=10000
-Djdk.attach.allowAttachSelf=true
-Djdk.nio.maxCachedBufferSize=2000000
-verbose:gc
-Xlog:gc*:/data/trino/logs/gc.log
-javaagent:/usr/lib/trino/jmx_exporter.jar=9000:/etc/trino/catalog/config.yaml
